<div id="users" ng-controller="newContactsCtrl">
    <div class="users__user"
         ng-repeat="user in users"
         ng-if="user.registered"
         ng-click="select(user.id)"
         ng-class="{
            'users__select_shift': $index > 0 && isSelected(user.id) && isSelected(users[$index - 1].id),
            'users__select': isSelected(user.id)}">
        <img class="users__avatar"
             ng-src="{{::user.avatarUrlSmall}}">
        <div class="users__content">
            <div class="users__name">{{::user.name}}</div>
        </div>
        <div class="users__ctrl_right">
            <div class="users__icon_selected"></div>
        </div>
    </div>
</div>